PORT=3000
ADMIN_KEY=changeme
YOUTUBE_API_KEY=your_youtube_api_key_here
DISCOURSE_BASE_URL=https://community.n8n.io
DISCOURSE_API_KEY=your_discourse_key_here
DISCOURSE_API_USERNAME=your_discourse_username_here

